body {
    padding: 5px
}

.button {
    height: 25px;
    margin-right: 25px;
    font-size: small;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.column1 {
    width: 22%;
    text-align:left;
}

.column2 {
    width: 28%;
    text-align:left;
    padding-left: 10px;
}

.column3 {
    width: 50%;
    text-align:left;
    padding-left: 10px;
}
